<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuario">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cliente">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/producto">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tipo_producto">Tipo Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/venta">Venta</a>
          </li>
      </ul>
            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
                       Sesion<span class="caret"></span>
                    </a>
        
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/login">
                            Login
                         </a>
                        <a class="dropdown-item" href="#">
                           Logout
                        </a>
        
                        <form id="logout-form" action="" method="POST">
                        </form>
                    </div>
                </li>
        </ul>
    </div>
  </nav>